@{
    ViewData["Title"] = "Passkeys";
}

<h1>Passkeys</h1>

<div>
    Passkeys available: <span id="passkeys-available"></span>
</div>

<hr/>

<div>
    <button id="generate-passkey">Generate Passkey</button>
</div>

<div>
    <button id="signin-passkey">Sign in with Passkey</button>
</div>